.table-container {
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;
  }
  
  .table {
    width: 80%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 1px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .table td {
    background-color: #fff;
    color: #555;
  }
  
  .table td img {
    width: 50px;
    height: 100px;
    border-radius: 50%;
  }
  
  .action-buttons button {
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .action-buttons .delete-button {
    background-color: #f44336;
    color: #fff;
  }
  
  .action-buttons .modify-button {
    background-color: #f1d868;
    color: #0b0a0a;
    width: 105px;
  }
  